:root {
  --accent-color: #2196f3; /* цвет выделения */
  --primary-text-color: #212121; /* цвет заголовков */
  --secondary-text-color: #757575; /* цвет остального текста */
  --primary-white-color: #ffffff; /* цвет фона белый */
  --primary-dark-color: #2f303a; /* цвет фона черный */
  --third-white-color: rgba(
    255,
    255,
    255,
    0.6
  ); /* цвет текста с прозрачностью */
   --accent-color-button: #2196f3; /* цвет кнопки */
  --primary-hover-button: #188ce8; /* ховер кнопки */
  --primary-nonactive-button: #f5f4fa; /* неактивная кнопка */
  --shadow-button: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12); /* тень кнопки */
}

body {
  background-color: var(--primary-white-color);
  color: var(--secondary-text-color);

  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

address {
  font-style: normal;
}

h1,
h2,
h3,
p {
  margin: 0;
}

.container {
  width: 1200px;
  outline: dotted red;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
 
  margin-right: 93px;
 }

.logo-text {
  color: var(--accent-color);
}

.logo-text-footer {
  color: var(--primary-white-color);
}

.link {
  color: var(--primary-text-color);
  text-decoration: none;
}

.list {
  list-style: none;
}

.navigation, .nav{
display: flex;
align-items: center;
}

.site-contact {
  margin-left: auto;
}

.site-nav,
.site-contact {
  display: flex;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-contact .list,
.site-nav .list {
margin-right: 50px;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

.site-contact .link {
  color: var(--secondary-text-color);
  
}

.site-contact,
.link:hover,
.site-contact,
.link:focus {
  color: var(--accent-color);
}

.title-section {
   background-color: var(--primary-dark-color);
  text-align: center;
}

.title-name {
  color: var(--primary-white-color);

  text-transform: uppercase;
  font-family: inherit;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  margin-top: 0;
  padding-top: 200px;
  padding-left: 252px;
  padding-right: 252px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}


.button {
  border-radius: 4px;
  cursor: pointer;
  border: 0;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
}

.btn .button {
  width: 200px;
  height: 50px;
 
  margin-top: 40px;
  margin-bottom: 200px;
}

.button.primary {
  color: var(--primary-white-color);
  background-color: var(--accent-color-button);
}

.button.secondary {
  color: var(--primary-text-color);
  background-color: var(--primary-nonactive-button);
}

.button:hover,
.button:focus {
  color: var(--primary-white-color);
  background-color: var(--primary-hover-button);
  box-shadow: var(--shadow-button);
}

.occupation-item {
  color: var(--primary-text-color);
  font-family: inherit;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;


  margin-top: 94px;
  background-color: purple;
}

.content {
  color: var(--primary-text-color);
  font-family: inherit;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  
  
}

.container .content-list {
  display: flex;

  margin-top: 45px;
 
  padding-left: 0;
  
}
.content-list .list {
  padding-right: 40px;
}


.team {

}

.team-item {
  color: var(--primary-text-color);
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

.team-text {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

.portfolio-nav {
  
}


.gallery {

}

.gallery-item {
color: var(--primary-text-color);
font-family: inherit;
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
}

.gallery-text {
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.03em;
}

.footer-content {
  background-color: var(--primary-dark-color);
}

.footer-item,
.footer-item-text {
  color: var(--third-white-color);
  text-decoration: none;
}
.footer-item-text {
  color: var(--primary-white-color);
}

.footer-item:hover,
.footer-item:focus,
.footer-item-text:hover,
.footer-item-text:focus {
  color: var(--accent-color);
}
